.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(100,100,100,0.3);
}
.player{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(100,100,100,0.3);
    background-color: green ;
}
.apple{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(100,100,100,0.3);
    background-color: red;
}